* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(211 220 218);
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: rgb(224, 58, 7);
}

.item-ultimo {
  width: 70%;
}

.item {
  padding: 15px 40px;
}

.nav img {
  width: 25%;
}

.banner {
  width: 100%;
  object-fit: none;
  height: 500px;
}

.title {
  color: rgb(224, 58, 7);
  text-align: center;
  padding: 30px;
}

.container-trabajo {
  display: flex;
  justify-content: center;
}

.item-trabajo {
  width: 50%;
  padding: 2rem;
  text-align: center;
  font-size: 0.985rem;
  line-height: 1.5;
}

.banner1 {
  width: 50%;
}


li.logo {
  width: 10%;
}
@media all and (max-width: 1024px) {
  .logo {
    display: none;
  }
  .item-ultimo {
    width: auto;
  }

  .container-trabajo {
    display: block;
  }

  .item-trabajo {
    text-align: center;
    width: 100%;
  }
  .banner1 {
    width: 50%;
}
}
