.container{
  background-color: rgb(251, 255, 0);
  padding: 4rem;
}
body{
  margin: 0;
  background-color: black;
}

h1{
  color: rgb(25, 0, 255);
  font-size: 1.2rem;
}

p{
  color: green;
  font-weight: 900;
}
input {
  border-radius: 5px;
  border: none;
  padding: 1rem;
}
button{
  padding: 1rem;
  background-color: blue;
  border: none;
  color: white;
}